<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbo-cache-control" content="no-preview">
    <title>{% block title %}Dishcovery{% endblock %}</title>

    <!-- Fonts and Styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <!-- Turbo (SPA-like navigation) -->
    <script src="https://unpkg.com/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.js"></script>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/tailwind.config.js') }}"></script>

    <!-- Animation and Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    {% block layout %}{% endblock %}

    <script>
        // Change DOMContentLoaded to turbo:load
        document.addEventListener('turbo:load', () => {
            // Initialize Lucide Icons
            lucide.createIcons();
        });
    </script>
</body>

</html>