SECRET_KEY=
FLASK_DEBUG=True

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GEMINI_API_KEY=

MEALDB_BASE_URL=